# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://admin:admin@localhost:5432/my_finances?schema=public"
PORT=3000

# JWT CONFIGS
JWT_SECRET="secret"
JWT_EXPIRES_IN="1d"

# RSA KEYS - PRIVATE AND PUBLIC
# Generate a new RSA key pair using the following command  terminal
#   "openssl:privatekey": "openssl genpkey -algorithm RSA -out private_key.pem -pkeyopt rsa_keygen_bits:2048",
#    "openssl:publickey": "openssl rsa -pubout -in private_key.pem -out public_key.pem",
#    "base64:convert:keys": "base64 -i private.pem -o private.string && base64 -i public.pem -o public.string",
#    "remove:keys": "rm -f private.pem public.pem private.key public.key private.string public.string",
PRIVATE_KEY=""
PUBLIC_KEY=""
